.navigation {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 480px;
    border-radius: 8px;
    overflow: hidden;
    background: rgb(240,240,240);
    box-shadow: 0 0 12px 0px rgb(240,240,240);
    box-sizing: border-box;
}

.nav-item {
    color: black;
    text-align: center;
    text-decoration: none;
    text-align: center;
    padding: 12px 0;
    flex-grow: 1;
    font-size: 14px;
}